*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Roboto', sans-serif;
}

.img{
    position: relative;
    display: inline-block;
    margin-top: 30px;
}
.outer{
    display: none;
    position: absolute;
    background-color: white;
}
.product-icon{
    display: none;
    position: absolute;
}
.img :hover .outer {
    display: block;
}
.img :hover .product-icon {
    display: block;
    width: 233px;
    height: 350px;
}
.outer .inner{
    width: 40px;
    color: white;
    background-color: red;
    text-align: center;
    margin-top: -340px;
    float: right;
}
.product-icon li {
    float: left;
    list-style: none;
}
.product-icon li a i{
    color: black;
    font-size: 20px;
    border: 1px solid black;
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin-top: 150px;
    margin-left: 30px;
}
.product-icon{
    margin-top: -350px;
    text-align: center;
    background-color: white;
    opacity: 0.5;
}
a button{
    font-size: 14px;
    color: #fff;
    background-color: #464646;
    margin-top: 30px;
}
.banner-sec{
    position:relative;
    float: left;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-image:url("../Img/banner1.jpg");
    margin-top: 30px;
}
.banner-text{
    position: relative;
    float: left;
    width: 100%;
    padding: 100px 0;
}
.banner-sec .banner-text h2{
    font-size: 67px;
}
.banner-sec .banner-text h3{
    font-size: 35px;
}