
*{
    margin: 0px auto;
    padding: 0px;
    box-sizing: border-box;
}
body{
    width: 100%;
    font-family: sans-serif;
    font-size: 14px;

}
.header{
    background: black;
    height: 30px;
}

.header ul li{
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    text-decoration: white;
    color: white;
    line-height: 30px;
    list-style: none;
}

.movic{
    height: 120px;
    margin: 0px auto;
    padding: 0px;
    font-size: 25px;
}
.movic ul li{
    text-align: center;
    font-weight: bolder;
    font-size: 25px;
    list-style: none;
    line-height: 120px;
    font-family: Poppins,Helvetica,Arial,sans-serif;

}


.menu-top{
    height: 60px;
    color: black;
}

.menu-top ul li{
    margin: 0px;
    padding: 0px;
    list-style: none;
}
.menu-top ul li a{
    color: black;
    float: left;
    padding: 20px;
}

.menu-top .menu-top-right ul li{
    margin-left: 100px;
}


.banner{
    background: red;
    width: 100%;
    height: 500px;




}
.fashion{
    width: 100%;
    border: #761c19;
    height: 200px;

}

.brand{
    width: 100%;
    background: yellow;
    height: 220px;
}
.ourproduct{
    background: deeppink;
    height: 200px;
}
.newarivals{
    background: #cccccc;
    height: 200px;
}

.instagram{
    background: #2aabd2;
    height: 200px;
}
.latestnews {
    background: #2b542c;
    height: 200px;

}
.freeshiping{
    background: #265a88;
    height: 200px;
}

.aboutus {
    background: #2aabd2;
    height: 450px;
}
.footer{
    background: #cccccc;
    height: 200px;
}